/* Product Container */
.row.product--rating--score {
  background-color: #FFFBF9;
  border: 2px solid #f9ede5;
  margin: 0;
  display: flex;
  align-items: center;
  height: 140px; }

.product__container {
  margin: 0;
  width: 100%; }

.product__address--detail {
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  margin-top: 24px; }

.product__address--link {
  text-decoration: none; }

.product__address--icon {
  font-size: 1.3rem;
  margin: 0 5px;
  position: relative;
  top: 2px; }

.product__information {
  width: 100%;
  background-color: var(--white-color);
  margin-top: 20px;
  padding: 15px 0;
  display: flex; }

.product__imgs {
  padding: 0;
  display: flex;
  list-style: none;
  display: flex;
  justify-content: space-between; }

.product__img--link {
  height: 82px;
  width: 82px; }

.product__img--main {
  width: 100%;
  height: 450px;
  display: flex;
  text-align: center; }

.product__social {
  width: 100%;
  display: flex;
  margin-top: 15px; }

.product__social--modify {
  height: 25px;
  display: flex;
  justify-content: center; }

.product__social--modify--enabled {
  position: relative; }

.product__social--modify--enabled::before {
  position: absolute;
  content: "";
  background-color: #E8E8E8;
  width: 2px;
  height: 25px;
  display: block;
  right: 0; }

.product__social--name {
  font-size: 1.6rem;
  line-height: 2.5rem; }

.product__social--name--liked {
  font-size: 1.6rem;
  line-height: 2.5rem;
  margin-left: 10px; }

.product__social--icon {
  font-size: 2.4rem;
  margin-left: 5px; }

.product__social--icon--active {
  color: red; }

.product__information--heading {
  display: flex;
  height: 24px; }

.product__information--heading--liked {
  top: 3px;
  display: flex;
  background-color: #EE4D2D;
  color: var(--white-color);
  height: 16px;
  width: 54px;
  /* text-align: center; */
  justify-content: center;
  margin-right: 10px;
  font-weight: 500;
  /* align-content: center; */
  align-items: center;
  position: relative;
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05); }

.product__information--heading--name {
  font-size: 2rem;
  color: var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500; }

.product__information--rating {
  display: flex;
  height: 26px;
  margin-top: 10px;
  background-color: #FFFFFF;
  font-size: 1.3rem; }

.product__information--rating--star {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  position: relative;
  cursor: pointer; }

.product__information--rating--star::before {
  position: absolute;
  content: "";
  background-color: #DBDBDB;
  width: 1px;
  height: 26px;
  right: 0; }

.product__information--rating--index {
  text-decoration: underline;
  color: #EE4D2D;
  font-size: 1.6rem;
  margin-right: 5px;
  padding-bottom: 2px;
  position: relative;
  top: 1px; }

.product__information--icon--star {
  color: rgba(0, 0, 0, 0.12); }

.product__information--icon--star--active {
  color: #EE4D2D; }

.product__information--rating--number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  position: relative;
  cursor: pointer; }

.product__information--rating--number::before {
  position: absolute;
  content: "";
  background-color: #DBDBDB;
  width: 1px;
  height: 26px;
  right: 0; }

.product__information--rated--number {
  text-decoration: underline;
  color: #EE4D2D;
  font-size: 1.6rem;
  margin-right: 5px;
  padding-bottom: 2px;
  position: relative;
  top: 1px; }

.product__information--rated--title {
  color: #767676;
  position: relative;
  top: 1px; }

.product__information--selled {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px; }

.product__information--selled--number {
  font-size: 1.6rem;
  margin-right: 5px;
  color: var(--text-color); }

.product__information--selled--name {
  position: relative;
  color: #767676;
  top: 1px; }

.product__information--reported {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 0 6px;
  color: #767676;
  cursor: pointer; }

.product__information--price {
  width: 100%;
  height: 66px;
  background-color: #FAFAFA;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 15px 20px;
  margin-top: 10px; }

.product__information--price__origin {
  font-size: 1.6rem;
  color: #929292;
  text-decoration: line-through;
  margin-right: 10px; }

.product__information--price__discounted {
  font-size: 3rem;
  font-weight: 500;
  color: #EE4D2D; }

.product__information--discount--percent {
  /* display: block; */
  margin-left: 15px;
  font-size: 1.2rem;
  background-color: #ee4d2d;
  color: var(--white-color);
  border-radius: 2px;
  font-weight: 600;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px; }

.product__option {
  margin-top: 25px;
  padding: 0 20px;
  width: 100%; }

.product__option--privacy {
  display: flex;
  padding: 4px;
  margin: -4px 0 25px -4px; }

.product__option--privacy--title {
  width: 110px;
  font-weight: 400;
  color: #757575;
  font-size: 1.4rem; }

.product__option--privacy--detail {
  display: flex;
  align-items: center; }

.product__option--privacy--icon {
  margin-right: 5px;
  height: 16px;
  width: 16px;
  font-size: 1.4rem; }

.product__option--privacy--duration {
  color: #555555;
  font-size: 1.4rem;
  margin-right: 12px; }

.product__option--privacy--formal {
  color: rgba(0, 0, 0, 0.54);
  font-size: 1.4rem;
  margin-right: 10px; }

.product__option--privacy--question {
  position: relative;
  display: flex;
  align-items: center; }

.product__option--privacy--question--detail::after {
  top: 16px;
  right: -7px;
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #dfdfdf;
  display: none; }

.product__option--privacy--question--detail {
  font-size: 1.4rem;
  display: none;
  position: absolute;
  background-color: white;
  padding: 10px;
  border: 2px solid #ccc;
  width: 500px;
  height: 71px;
  z-index: 1;
  top: 21px;
  right: -250px;
  text-align: left; }

.product__option--privacy--question:hover .product__option--privacy--question--detail,
.product__option--privacy--question--detail::after {
  display: block; }

.product__option--delivery {
  display: flex; }

.product__option--delivery--title {
  font-size: 1.4rem;
  font-weight: 400;
  color: #757575;
  /* flex-shrink: 1; */
  line-height: 1.4rem;
  width: 110px; }

.product__option--delivery--policy {
  display: flex; }

.product__option--delivery--policy--img {
  font-size: 1.4rem;
  display: block;
  width: 24px;
  height: 20px; }

.product__option--delivery--policy--name {
  margin: 0 0 12px 7px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  font-size: 1.4rem; }

.product__option--color {
  display: flex;
  margin-bottom: 24px; }

.product__option--color--tittle {
  position: relative;
  top: 8px;
  width: 110px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #757575;
  margin-right: 20px; }

.product__option--color--select {
  display: flex; }

.product__option--color--select--option {
  display: flex;
  border: none;
  background-color: var(--white-color);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
  margin: 8px 8px 0 0;
  height: 36px;
  font-size: 1.4rem;
  font-weight: 400;
  flex-wrap: wrap;
  align-content: center;
  position: relative; }

.product__option--color--select--option.product__option--selected {
  border: 1px solid var(--primary-color); }

.product__option--color--select--option:hover {
  border: 1px solid var(--primary-color); }

.product__option--color--select--option__img {
  width: 24px;
  height: 24px;
  margin-right: 6px; }

.product__option--color--select--option__name {
  line-height: 2.4rem; }

.product__option--selected .product__option--color--select--triangle,
.product__option--selected .product--option--selected--icon {
  display: flex; }

.product--option--selected--icon {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 0.8rem;
  color: var(--white-color);
  z-index: 1;
  display: none; }

.product__option--color--select--triangle {
  width: 0;
  height: 0;
  border-bottom: 12px solid red;
  border-left: 17px solid transparent;
  position: absolute;
  /* transform: translateX(-50%); */
  transition: opacity 0.3s ease;
  bottom: 0;
  right: 0;
  display: none; }

.product__option--size {
  display: flex;
  margin-bottom: 24px; }

.product__option--size--name {
  width: 110px; }

.product__option--size--select {
  display: flex; }

.product__option--size--name {
  position: relative;
  width: 110px;
  margin-right: 20px;
  top: 8px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #757575; }

.product__option--size--select--option {
  display: flex;
  border: none;
  background-color: var(--white-color);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
  margin: 8px 8px 0 0;
  height: 36px;
  font-size: 1.4rem;
  font-weight: 400;
  flex-wrap: wrap;
  align-content: center;
  position: relative; }

.product__option--size--option--selected .product__option--color--select--triangle,
.product__option--size--option--selected .product--option--selected--icon {
  display: flex; }

.product__option--size--select--option.product__option--size--option--selected {
  border: 1px solid var(--primary-color); }

.product__option--size--select--option:hover {
  border: 1px solid var(--primary-color); }

.product__option--order--item {
  display: flex;
  margin-top: 16px;
  height: 32px; }

.product__option--order--item--title {
  width: 110px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #757575;
  display: flex;
  align-content: center;
  flex-wrap: wrap; }

.product__option--order--item--quantity {
  margin-right: 15px;
  height: 32px;
  display: flex; }

.product__option--order--item--quantity--decrease {
  border: none;
  background-color: var(--white-color);
  box-shadow: 0 0 1px 0 black;
  width: 32px;
  height: 32px; }

.uet-shop-svg-icon--decrease {
  width: 10px;
  height: 10px;
  font-size: 1rem;
  font-weight: 300; }

.product__option--order--item--quantity--input {
  width: 50px;
  height: 32px;
  border: none;
  text-align: center;
  /* display: flex; */
  /* align-items: center; */
  box-shadow: 0 0 1px 0 black; }

.product__option--order--item--quantity--increase {
  border: none;
  background-color: var(--white-color);
  box-shadow: 0 0 1px 0 black;
  width: 32px;
  height: 32px; }

.uet-shop-svg-icon-increase {
  width: 10px;
  height: 10px;
  font-size: 1rem;
  font-weight: 300; }

.product__option--order--item--in--stock {
  color: #757575;
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  align-content: center; }

.product__information--btn {
  margin-top: 15px;
  margin-left: 20px;
  width: 100%;
  display: flex;
  align-content: center;
  flex-wrap: wrap; }

.Btn--normal--product__information {
  top: 6px;
  border: 2px solid #ee4d2d;
  margin-right: 15px;
  height: 48px;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 2px 2px 0px;
  padding: 0px 20px;
  background-color: rgba(255, 87, 34, 0.1);
  cursor: pointer; }

.Btn--normal--product__information:hover {
  background-color: rgba(255, 87, 34, 0.05); }

.Btn--Primary--product__information {
  background-color: #ee4d2d;
  height: 48px;
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 2px 0px;
  border-radius: 2px;
  width: 162px;
  cursor: pointer; }

.Btn--Primary--product__information:hover {
  background-color: rgba(238, 77, 45, 0.9); }

.product__information--add--product--icon {
  width: 20px;
  height: 20px;
  margin-right: 10px; }

.product__information--purchase {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--white-color); }

.product__information__commitment-row {
  margin-top: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.05); }

.product__information__commitment {
  margin: 25px 15px;
  width: 100%; }

.product__information__commiment--detail {
  display: flex;
  text-decoration: none;
  width: 100%;
  align-items: center; }

.product__information__commiment--detail--icon {
  width: 20px;
  height: 20px;
  margin-right: 5px; }

.product__information__commiment--detail--title--1 {
  padding: 0 20px 0 0;
  color: #222222;
  font-size: 1.4rem; }

.product__information__commiment--detail--title--2 {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.54); }

.page-product {
  background-color: #F5F5F5; }

.page-product__content {
  background-color: var(--white-color); }

.product-detail.page-prodcut__detail {
  padding: 10px 10px;
  margin-top: 15px; }

.I_DV_3 {
  padding: 15px 15px 0px 15px; }

.product-detail__header {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color);
  padding: 14px 14px; }

.product__detail--text {
  margin: 15px 15px;
  margin-top: 30px; }

.product-detail--list {
  list-style: none;
  padding-left: 0px;
  font-size: 1.4rem; }

.product-detail--item {
  display: flex;
  margin-bottom: 18px; }

.product-detail--item__label {
  padding-right: 12px;
  color: #737373;
  width: 140px; }

.product__detail--information {
  font-size: 1.4rem;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
  display: flex; }

.Product-Rating {
  width: 100%;
  margin-top: 15px;
  background-color: var(--white-color);
  padding: 25px;
  margin-bottom: 40px; }

.Product-Rating__Header {
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 14px; }

.row.product__rating--color {
  margin: 0;
  background-color: rgba(203, 186, 173, 0.065); }

.Product-Rating__Score {
  display: grid;
  grid-template-rows: 30px 30px;
  padding: 10px 10px 10px 15px; }

.Product-Rating__Score--Score {
  font-size: 2rem;
  text-align: center;
  color: #ee4d2d;
  margin-bottom: 5px;
  padding-top: 15px; }

.Product-Rating__Score--Score--highlight {
  /* margin: 0; */
  font-size: 4rem; }

.Product-Rating__Score--Star {
  display: flex;
  justify-content: center;
  margin-top: 10px; }

.Product-Rating__Score--Star img {
  height: 20px;
  width: 20px; }

.Product-Rating__Filters {
  display: flex;
  padding: 20px 10px 10px 10px;
  flex-wrap: wrap;
  /* justify-items: self-end; */
  /* justify-content: space-evenly; */
  margin-right: 14px; }

.Product-Rating__Filters--Categorical {
  background: none;
  height: 35px;
  font-size: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.09);
  margin-right: 3px;
  padding: 2px 20px; }

.Product-Rating__Filters--Categorical:active {
  border: 1px solid #ee4d2d; }

.Product-Rating__List {
  grid-area: list;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px; }

.Product-Rating__Main {
  display: grid;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 0.8px solid rgba(0, 0, 0, 0.09);
  grid-template-columns: 50px 1fr;
  grid-template-rows: 20px 20px 20px auto auto;
  grid-template-areas: "ava name" "ava score" "ava time" "ava comment" "ava image"; }

.Product-Rating__Main--Avatar {
  grid-area: ava;
  padding-left: 3px; }

.Product-Rating__Main--Avatar img {
  width: 40px;
  height: 40px;
  border-radius: 20px; }

.Product-Rating__Main--Name {
  grid-area: name;
  font-size: 12px; }

.Product-Rating__Main--Score {
  grid-area: score; }

.Product-Rating__Main--Score img {
  height: 13px;
  width: 13px; }

.Product-Rating__Main--Time {
  grid-area: time;
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px; }

.Product-Rating__Main--Comment {
  font-size: 12px;
  grid-area: comment;
  margin-bottom: 5px; }

.Product-Rating__Main--Image {
  grid-area: image;
  padding-left: 0.7px; }

.Product-Rating__Main--Image img {
  max-width: 72px;
  max-inline-size: 72px; }

.Product-Rating__Limit {
  display: flex;
  display: flex;
  justify-content: center;
  font-size: 1.8rem; }

.Product-Rating__Limit--Left {
  background-color: transparent;
  /* display: block; */
  border: none;
  width: 45px;
  height: 30px;
  cursor: pointer;
  padding: 0;
  margin-right: 5px; }

.Product-Rating__Limit--Change {
  background-color: transparent;
  /* display: block; */
  border: none;
  width: 45px;
  height: 30px;
  cursor: pointer;
  padding: 0;
  margin-right: 5px; }

.Product-Rating__Limit--Change.active {
  background-color: var(--primary-color);
  border-radius: 2px; }

.Product-Rating__Limit--Right {
  background-color: transparent;
  /* display: block; */
  border: none;
  width: 45px;
  height: 30px;
  cursor: pointer;
  padding: 0;
  margin-right: 5px; }
