.purchase {
    background-color: #F5F5F5;
    padding-bottom: 20px;
}

.row.sm--gutter.container {
    flex-wrap: nowrap;
}

.sidebar {
    margin-top: 15px;
}

.sidebar-child {
    height: 36px;
    background-color: #ffffff;
    text-decoration: none;
    display: flex;
    color: var(--black-color);
    align-items: center;
    font-size: 1.4rem;
    cursor: pointer;
    user-select: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    right: 0;
    padding-left: 6px;
}

.sidebar-child:first-child {
    border-top: none;
}

.sidebar-child:hover {
    right: -4px;
    color: var(--primary-color);
}

.sidebar-child p {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.sidebar-child.current {
    color: var(--primary-color);
}

.sidebar a:hover {
    color: var(--primary-color);
}

.my-purchase {}

.list-purchase {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0px;
    margin-top: 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* background-color: var(--white-color); */
}

.list-purchase--heading {
    text-decoration: none;
    display: flex;
    background-color: var(--white-color);
    height: 32px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.list-purchase--heading--status--icon {
    margin-right: 5px;
}

.list-purchase--heading--status {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 5px;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.493);
}

.list-purchase--heading--status--detail {
    margin: 0 5px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
}

.purchase-item {
    background-color: #ffffff;
    display: flex;
    height: 105px;
    padding: 25px 25px;
    /* margin-top: 15px; */
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.purchase-item:first-child {
    border-top: none;
}

.purchase-item--img {
    width: 54px;
    margin-right: 5px;
}

.item_picture {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.item_info {
    color: #757575;
    font-size: 1.3rem;
    flex: 1;
    margin-right: 5px;
}

.item_info-name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    text-decoration: none;
    overflow: hidden;
    flex: 1;
    /* padding-right: 16px; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
    padding-right: 0;
}

.item_price {
    font-size: 1.6rem;
    margin-right: 5px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

.can-rating {
    position: relative;
    /* display: flex; */
    border: none;
    /* margin-top: 13px; */
    padding: -15px 0px;
    width: 53px;
    border-radius: 2px;
    background-color: #ffddd6;
    cursor: pointer;
    color: #454545;
    height: 20px;
    /* background-color: rgba(0, 0, 0, 0.03); */
    /* align-items: center; */
    text-align: center;
    top: 16px;
}

.cant-rating {
    display: none;
}

.total {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    justify-content: flex-end;
    align-items: center;
    height: 40px;
}

.total--title {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 5px;
    font-weight: 400;
}

.total--price {
    color: var(--primary-color);
    font-size: 1.8rem;
    margin-right: 5px;
    font-weight: 400;
}