.page-product {
    background-color: #F5F5F5;
}

.page-product__content {
    background-color: var(--white-color);
}

.product-detail.page-prodcut__detail {
    padding: 10px 10px;
    margin-top: 15px;
}

.I_DV_3 {
    padding: 15px 15px 0px 15px ;
}

.product-detail__header {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--text-color);
    padding: 14px 14px; 
}

.product__detail--text {
    margin: 15px 15px;
    margin-top: 30px;
}

.product-detail--list {
    list-style: none;
    padding-left: 0px;
    font-size: 1.4rem;
}

.product-detail--item {
    display: flex;
    margin-bottom: 18px;
}

.product-detail--item__label {
    padding-right: 12px;
    color: #737373;
    width: 140px
}

.product-detail--item__get-label {

}

.product__detail--information {
    font-size: 1.4rem;
    white-space: pre-wrap;    
    margin: 0;
    color: rgba(0, 0, 0, .8);;
    white-space: pre;
}