/* Mobile & Tablet */
@media (max-width: 1023px) {
    :root {
        --navbar-height: 0px;
        --header-height: 68px;
        --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    }

    .hide--on--mobile--tablet {
        display: none;
    }

    .header {
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        left: 0;
    }

    .Header__Cart--List {
        position: fixed;
        top: var(--header-height);
        right: 0;
        background-color: var(--white-color);
        width: 100%;
        border-radius: 2px;
        box-shadow: 0 1px 3.125rem rgba(0, 0, 0, 0.2);
        animation: fadeIn ease-in 0.2s;
        display: none;
        z-index: 1;
        padding: 0 calc((100% - 644px) / 2);
    }

    .Header__Cart--List::before {
        display: none;
    }

    .App__Container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }
    
    .header__sort--bar {
        display: flex;
    }

    .App_Content {
        padding: 0;
        padding-top: 8px;
        margin: 0 4px;
    }

    .mobile--category {
        display: flex;
    }

    .Footer__Download--App--Link {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }

    .Home--Product--Item__Sale--Off__Label {
        top: -8px;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide--on--tablet {
        display: none;
    }

    .Header__Cart {
        width: 80px;
        text-align: right;
    }
}

/* Mobile */
@media (max-width: 739px){ 
    :root {
        --navbar-height: 0px;
        --header-height: 54px;
    }

    .hide--on--mobile {
        display: none;
    }

    .Header__With--Search {
        justify-content: space-between;
    }

    .Header__Logo,
    .Header__Cart {
        width: unset;
    }
    
    .Header__Search {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        height: 46px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        z-index: 1;
        padding: 0 16px;
        animation: mobileSearchSideIn linear 0.2s;
        display: none;
    }
    
    @keyframes mobileSearchSideIn {
        from {
            top: calc(var(--header-height) / 2);
            opacity: 0;
        }
        to {
            top: var(--header-height);
            opacity: 1;
        }
    }

    .Header__Search--History {
        position: fixed;
        width: 100%;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        left: 0;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }

    .Pagnination--Item {
        margin: 0;
    }

    .Pagnination--Item__Link {
        --height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
    }

    .App_Content {
        padding-top: 8px;
        margin: 0 4px;
    }

    .header__mobile--search {
        display: block;
    }

    .Header__Logo--Img {
        width: 110px;
    }

    .footer__content {
        padding: 0 16px;
    }

    .Footer__Heading {
        text-align: center;
    }

    .Footer--Item__Link {
        justify-content: center;
    }

    .Footer__Download {
        justify-content: center;
    }
}