<div class="page-product">
    <div class="Grid">
        <div class="page-product__content">
            <div class="product-detail page-prodcut__detail">
                <div class="I_DV_3">
                    <h2 class="product-detail__header">Chi tiết sản phẩm</h2>
                    <div class="product__detail--text">
                        <ul class="product-detail--list">
                            <li class="product-detail--item">
                                <label class="product-detail--item__label">Hạn bảo hành</label>
                                <div class="product-detail--item__get-label">12 tháng</div>
                            </li>
                            <li class="product-detail--item">
                                <label class="product-detail--item__label">Loại bảo hành</label>
                                <div class="product-detail--item__get-label">Bảo hành nhà sản xuất</div>
                            </li>
                            <li class="product-detail--item">
                                <label class="product-detail--item__label">Kho hàng</label>
                                <div class="product-detail--item__get-label">12 tháng</div>
                            </li>
                            <li class="product-detail--item">
                                <label class="product-detail--item__label">Gửi từ</label>
                                <div class="product-detail--item__get-label">TP. Hồ Chí Minh</div>
                            </li>
                        </ul>
                    </div>  
                </div>
                <div class="I_DV_3">
                    <h2 class="product-detail__header">Mô tả sản phẩm</h2>
                    <div class="product__detail--text">
                        <p class="product__detail--information">Lưu Ý
* Shop chỉ phân phối hàng chính hãng được phân phối tại Việt Nam
* Bảo hành chính hãng thông qua nhà phân phối hoặc hãng tại Việt Nam
* Một số sản phẩm có niêm phong hay đóng gói theo công nghệ "ép chết" khi xuất xưởng - Thì tất cả những sản phẩm này khi bán ra thị trường nhà phân phối " BẮT BUỘC PHẢI THÁO MỞ để DÁN TEM BẢO HÀNH CHÍNH HÃNG" sản phẩm bạn mua.
------------------------------------------------------------------------------------------------------------------------------------------------------------------
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>